body{
    width: 425px;
    height: 225px;
    background-color: antiquewhite;
    color: #d5a385;
    font-weight: bold;
}

#main{
    display: flex;
    justify-content: center;
}

.head_bar{
    display: flex;
    justify-content: center;
}

.name_bar{
    padding-top: 0.75%;
    padding-left: 1.5%;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    margin-bottom: 5px;
}

.detect_box{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

iframe {
    border: 0;
}