
.display_result_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.cat {
    width: 34.63%;
    margin: 0 auto;
    margin-top: -10px;
}

p {
    font-size: 22.5px;
    color: #d5a385;
    font-weight: bold;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}