html{
    scroll-behavior: smooth;
}

.bg{
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

body {
    background-repeat: repeat;
    background-color: #0d031b;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-family: arial;
    padding-bottom: 10%;
  }

a{
    color: white;
    text-decoration: none;
}

.head_bar{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-top: -0.6%;
    padding-bottom: 7%;

}

.logo_bar{
    display: flex;
    justify-content: flex-start;
    padding: 2.5%;
    margin-top: -1.3%;
}

.name_bar{
    font-size: 22px;
    margin-top: 14%;
    margin-left: -6%;
}

.click_bar{
    margin-top: -0.3%;
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

.padding01{
    padding: 6%;
    margin-left: -6%;
    margin-right: -6%;
    margin-top: -1.4%;
}

.padding01 span:hover{
    cursor: pointer;
    text-decoration: underline;
}

.main_content{
    display: flex;
    justify-content: center;
}

.main_content{
    padding-bottom: 4%;
}

.purpose_box{
    justify-content: flex-start;
    width: 40%;
    padding-right: 6%;
}

.purpose_label{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 4%;
}

.purpose_desc{
    font-size: 29px;
    font-family: Arial Narrow, sans-serif;
}

.rat_img{
    margin-top: -5%;
}

.buttons{
    display: flex;
    justify-content: center;
    padding-bottom: 11%;
    margin: 0 auto;
}

.download01{
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 20px;
    width: 200px;
    height: 65px;
    margin-right: 2%;
    border-radius: 30px;
    border: none;
    transition: 0.3s ease-in-out;
    
}

.download01:hover{
    transform: translateY(-2px);
}

.download02:hover{
    transform: translateY(-2px);
}

.download02{
    background-color: #1e1e24;
    color: white;
    cursor: pointer;
    font-size: 20px;
    width: 200px;
    height: 65px;
    margin-left: 2%;
    border-radius: 30px;
    border: none;
    transition: 0.3s ease-in-out;
}

.work_title{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 2%;
}

.steps{
    font-size: 25px;
    padding-bottom: 5%;
}

.demonstration{
    display: flex;
    justify-content: space-evenly;
}

.circle{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: #bdbcc0;
}

.step_explanation{
    padding-top: 7%;
    padding-bottom: 50%;
    font-size: 21px;
    letter-spacing: 0.8px;
    line-height: 28px;
    font-family: sans-serif;
}

.facts1, .facts2{
    display: flex;
    justify-content: center;
}

.facts1{
    padding-bottom: 15%;
}

.facts1img{
    height: 550px;
    width: 750px;
    background-color: #bdbcc0;
    border-radius: 20%;
    justify-content: flex-start;
}

.facts1label{
    padding-left: 6%;
    padding-top: 7%;
}

.facts1header, .facts2header{
    font-size: 40px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding-bottom: 6%;
}

.facts1desc, .facts2desc{
    font-size: 29px;
    font-family: Arial Narrow, sans-serif;
}

.facts2label{
    padding-right: 6%;
    padding-top: 7%;
}

.facts2img{
    height: 550px;
    width: 750px;
    background-color: #bdbcc0;
    border-radius: 20%;
    justify-content: flex-end;
}

.github_link{
    font-size: 25px;
}

.github{
    font-size: 50px;
    font-weight: bold;
    margin-top: -4%;
    padding-bottom: 2.5%;
}

.top_input{
    padding-bottom: 2%;
}

#name, #mail{
    height: 50px;
    width: 295px;
}

#name, #mail, #msg{
    padding-left: 2%;
    color: white;
    background-color: rgba(49, 49, 59, 0.5);
    border: 0.5px solid white;
    font-family: Arial;
    font-size: 18px;
}

#msg{
    height: 250px;
    padding-right: 2%;
    padding-top: 2%;
    height: 250px;
    width: 600px;
}

.submit_button{
    background-color: transparent;
    border: none;
    padding-top: 0.3%;
    appearance: none;
}

.submit{
    display: flex;
    justify-content: center;
}

.submit_label{
    padding-top: 1%;
    padding-right: 1.5%;
}

.submit_icon{
    cursor: pointer;
    height: 55px;
    width: auto;
    transition: 0.3s ease-in-out;
}

.submit_icon:hover{
    transform: translateY(-2px);
}

.try_label{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 2%;
}

.try_desc{
    font-size: 29px;
    font-family: Arial Narrow, sans-serif; 
    padding-bottom: 2%; 
}

#try_input{
    height: 30px;
    width: 70%;
}

.scam_title{
    margin-top: -3.5%;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 4%;
}

.thanks_label{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 4%;
}

.url_input{
    margin-top: -2%;
    height: 30px;
    width: 700px;
    padding: 1%;
    border-radius: 30px;
    font-size: 20px;
}

.check_button_section{
    padding-top: 2%;
}

.result_box{
    background-color: red;
    display: flex;
    margin: auto;
    justify-content: center;
    width: 80%;
}

.display_url{
    font-size: 56px;
    font-weight: bolder;
    margin-top: -4%;
    color: rgb(228, 209, 253);
}

.display_result{
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 2%; 
}