<!DOCTYPE html>
<html>
    <head>
        <title>cheztrap</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap" rel="stylesheet">
    </head>

    <body>
        
        <!--MENU HEADER-->
        <div class="menu_logo">
            <a href="http://127.0.0.1:8000">
                <img src="/static/images/logo.svg">
                <span class="logo">Cheztrap</span>
            </a>
        </div>

        <div class="menu">
            <div class="menu_left">
                <span class="menu_abt"><a href="http://127.0.0.1:8000/about">About</a></span>
                <span class="menu_faq"><a href="{{ url_for('home') }}#faq">FAQ</a></span>
            </div>
            <div class="menu_right">
                <span class="menu_contact"><a href="http://127.0.0.1:8000/contact">Contact</a></span>
                <span class="menu_get"><a href="https://chromewebstore.google.com/detail/cheztrap/nekhbkmakcoobbhgckdjakflhcdhpjjk" target="_blank">Get Now!</a></span>
            </div>
        </div>
        



        <!--ABOUT US STARTS HERE-->
        <div class="container">
            <div class="head_container">
                <div class="abt_header">The Story of</div>
                <div class="abt_logo">Cheztrap</div>   
            </div>
        </div>

        <!--container with jiena in it-->
        <div class="abt_box">
            <div class="abt_container1">
                <div class="abt_text1">It all began in 2022, with the popular video game Minecraft. Following the rise of online activity during the 2020 pandemic, more people started playing Minecraft. However, this also increased the number of hacked accounts. These hacks ranged from unknowingly installing malware that would “improve gameplay", entering their login information on Discord to "receive a prize”, or trusting emails from a "real" account.</div>
                    
                <div class="me">
                    <div class="me_desc1">
                            <img src="/static/images/me_desc1.svg">
                    </div>
                        
                    <div class="me_box"></div>
                            
                    <div class="me_desc2">
                        <img src="/static/images/me_desc2.svg">
                    </div>
                </div>

            </div>
        </div>
            
        <!--container with jaelen in it-->
        <div class="abt_box">
                <div class="abt_container2">
                    
                <div class="jaelen">
                    <div class="jaelen_desc1">
                        <img src="/static/images/jaelen_desc1.svg">
                    </div>
                        
                    <div class="jaelen_box"></div>
                            
                    <div class="jaelen_desc2">
                        <img src="/static/images/jaelen_desc2.svg">
                    </div>
                </div>

                <div class="abt_text2">I had to do something. My first attempt at creating a phishing detection checker relied on web scraping (automatically extracting data from other websites to my own). But my interests quickly turned to the versatility of AI, which soon became the core of detecting fraudulent emails and sites. I then created a Chrome Extension which would make checking for scams faster and more efficient, bringing my vision to life. And that's how Cheztrap was born.</div>
            </div>
        </div>
        
        <!--container with rat in it-->
        <div class="abt_box3">
            <div class="rat_header">We don't plan on stopping here!</div>
            <div class="rat"></div>
            <div class="abt_container3">
                <div class="abt_text3">Today, I still have endless ideas that I would like to bring to life, making Cheztrap stronger and more versatile for a wider range of hacking situations. For one, I would like to add a feature that can analyze the safety of screenshots from websites, emails, and text messages. My goal is for Cheztrap to become a reliable tool that helps protect you from any phishing attempt!</div>
            </div>
        </div>

        <!--DEFININTELY ADD A POSSIBLE DOWNLOAD SECTION!-->
        <div class="download_container">
            <div class="scatter-section">
                <img src="/static/images/cheese2.png" class="scatter4 cheese_hide" style="top: 30%; left: 75%;">
                <img src="/static/images/cheese4.png" class="scatter2 cheese_hide" style="top: 30%; left: 2%;">
                <img src="/static/images/cheese3.png" class="scatter1" style="top: 60%; left: 65%;">
                <img src="/static/images/cheese5.png" class="scatter1" style="top: 60%; left: 10%;">
                <img src="/static/images/cheese1.png" class="scatter1" style="top: 73%; left: 35%;">
                <img src="/static/images/cheese5.png" class="scatter4 cheese_hide" style="top: 70%; left: 93%;">
                <img src="/static/images/cheese4.png" class="scatter2" style="top: 78%; left: -10%;">
            </div>


            <div class="dwnld_header">JOIN OUR RAT CATCHING COMMUNITY!</div>
                    
            <div class="btn_box">
                <a href="https://chromewebstore.google.com/detail/cheztrap/nekhbkmakcoobbhgckdjakflhcdhpjjk" target="_blank">
                    <button class="dwnld_btn"><span class="btn_word">DOWNLOAD NOW</span></button>
                </a>
            </div>

            </div>
        </div>


        <!--SECTION 8 footer-->
        <div class="footer">
            <div class="footer_content_left">
                <div class="footer_logo">Cheztrap</div>
                            
                <div class="footer_contact">
                    <div class="footer_contact_stuff">
                        <div class="footer_email">Email: december0two@gmail.com</div>
                        <img src="/static/images/footer_rat1.svg">
                        <img src="/static/images/footer_rat2.svg">
                        <img src="/static/images/footer_rat3.svg">
                    </div>
                </div>
            </div>
            <div class="footer_content_right">
                <div class="footer_content_right_col1">
                    <li><a href="https://chromewebstore.google.com/detail/cheztrap/nekhbkmakcoobbhgckdjakflhcdhpjjk" target="_blank" class="footer_link">DOWNLOAD</a></li>
                    <li><a href="http://127.0.0.1:8000/about" class="footer_link">ABOUT</a></li>
                    <li><a href="http://127.0.0.1:8000/contact" class="footer_link">CONTACT</a></li>
                </div>
                <div class="footer_content_right_col2">
                    <li><a href="http://127.0.0.1:8000/terms" class="footer_link">TERMS</a></li>
                    <li><a href="http://127.0.0.1:8000/privacy" class="footer_link">PRIVACY</a></li>
                </div>
            </div>
        </div>
    </body>

</html>