<!DOCTYPE html>
<html>
    <head>
        <title>cheztrap</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <img class="bg" src="/static/images/purp.png" alt="">
        <div class="head_bar">
            <div class="logo_bar">
                <div class="logo_img"><a href="{{ url_for('home') }}"><img src="/static/images/logo.png" style="width:55px;height:55px;padding-right:3px;padding-top:8%;"></a></div>
                <div class="name_bar"><a href="{{ url_for('home') }}">cheztrap</a></div>
            </div>
            <div class="click_bar">
                <div class="download_bar padding01"><a href="{{ url_for('home') }}#download"><span>Download</span></a></div>
                <div class="work_bar padding01"><a href="{{ url_for('home') }}#how_it_works"><span>How It Works</span></a></div>
                <div class="try_bar padding01"><a href="{{ url_for('checker') }}"><span>Try It!</span></a></div>
                <div class="github_bar padding01"><a href="{{ url_for('github') }}"><span>Github</span></a></div>
            </div>
        </div>

        <div class="scam_title">
            Is the link safe?
        </div>

        <div class="check_form">
            <form action="/check/result" method="GET" id="form">
                <section id="url_section">
                    <input type="text" id="url" name="url" class="url_input" placeholder="Enter link here..." required>
                </section>
                <div class="error_box"><p id="error" style="display:none;">Invalid URL !</p></div>
                <section id="submit" class="check_button_section">
                    <button type="submit" class="submit_button"><img src="https://cdn-icons-png.flaticon.com/512/408/408161.png" class="submit_icon"/></button>
                </section>
            </form>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
            const urlParams = new URLSearchParams(window.location.search);
            const error = urlParams.get('error');
            const errorMessage = document.getElementById('error');

            if (error === 'invalid_url') {
                errorMessage.style.display = 'block';
                // Redirect back to /check after a delay
                setTimeout(() => {
                    window.location.href = '/check';
                }, 2000); // message shows up for 2 seconds
            }
            });

        </script>
    </body>
</html>