
<!DOCTYPE html>
<html>
    <head>
        <title>cheztrap</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="/static/jquery.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Solway:wght@300;400;500;700;800&display=swap" rel="stylesheet">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="/static/images/favicon/site.webmanifest">
    </head>
    <body>
        <div class="container">



            <!--MENU HEADER-->
            <div class="menu_logo">
                <a href="/">
                    <img src="/static/images/logo.svg">
                    <span class="logo">Cheztrap</span>
                </a>
            </div>

            <div class="menu">
                <div class="menu_left">
                    <span class="menu_abt"><a href="/about">About</a></span>
                    <span class="menu_faq"><a href="#faq">FAQ</a></span>
                </div>
                <div class="menu_right">
                    <span class="menu_contact"><a href="/contact">Contact</a></span>
                    <span class="menu_get"><a href="https://chromewebstore.google.com/detail/cheztrap/nekhbkmakcoobbhgckdjakflhcdhpjjk" target="_blank">Get Now!</a></span>
                </div>
            </div>







            <div class="sections">

                <!--SECTION 1-->
                <div class="sect1">
                    <div class="sect1_content">
                        <h1 class="hero_header">Browse with confidence. Stay one step ahead.</h1>
                        <p class="hero_desc">Cheztrap protects you at every click in your internet journey, stopping you from browsing deeper into enemy rat territory.</p>
                        <div class="sect1_buttons">
                            <a href="https://chromewebstore.google.com/detail/cheztrap/nekhbkmakcoobbhgckdjakflhcdhpjjk" target="_blank"><button class="dwnld_btn"><span class="btn_word1">Get on Chrome</span></button></a>
                            <button id="try_btn" class="try_btn"><span class="btn_word">Try it. Click me!</span></button>
                        </div>
                    </div>
                </div>






                <!--SECTION 2 purpose/features-->
                <div class="sect2"> 
                    <div class="sect2_content_top">
                        <div class="sect2_content_top_left"><img src=/static/images/f1.svg></div>
                        <div class="sect2_content_top_right">
                            <p class="sect2_desc1">Protects you from suspicious websites</p>
                        </div>
                    </div>
                    <div class="sect2_content_bot">
                        <div class="sect2_content_bot_left">
                            <p class="sect2_desc2">...and helps you avoid malicious emails!</p>
                        </div>
                        <div class="sect2_content_bot_right"><img src=/static/images/f2.svg></div>
                    </div>
                </div>






                <!--SECTION 3 slider-->
                <div class="sect3">
                    <div class="container">
                        <div class="scroll-parent">
                            <div class="scroll-element primary">
                                <img src=/static/images/cheese1.png/>
                                <p>Your Internet Guardian</p>
                                <img src=/static/images/cheese2.png/>
                                <p>Detects Rats</p>
                                <img src=/static/images/cheese3.png/>
                                <p>Avoid Phishes</p>
                                <img src=/static/images/cheese4.png/>
                                <p>Protect Your Cheese</p>
                            </div>
                            <div class="scroll-element secondary">
                                <img src=/static/images/cheese1.png/>
                                <p>Your Internet Guardian</p>
                                <img src=/static/images/cheese2.png/>
                                <p>Detects Rats</p>
                                <img src=/static/images/cheese3.png/>
                                <p>Avoid Phishes</p>
                                <img src=/static/images/cheese4.png/>
                                <p>Protect Your Cheese</p>
                            </div>
                        </div>
                    </div>
                </div>




                <!--SECTION 4 steps-->
                <div class="sect4">
                    <div class="sect4_header">Just Two Simple Steps!</div>
                    <div class="sect4_box">
                        <div class="sect4_step1">
                            <div class="sect4_step1_title">1. Download</div>
                            <div class="sect4_step1_vid">
                                <video src="/static/images/step_dwnld_vid.mp4" autoplay muted loop playsinline></video>
                            </div>
                            <div class="sect4_step1_desc">Click on the download button to head to the Chrome Web Store. Then hit "Add to Chrome". That's it!</div>
                        </div>
                        <div class="sect4_step2">
                            <div class="sect4_step2_title">2. Open + Relax</div>
                            <div class="sect4_step2_vid">
                                <video src="/static/images/step_click_vid.mp4" autoplay muted loop playsinline></video>
                            </div>
                            <div class="sect4_step2_desc">Navigate to your toolbar and click on the Cheztrap icon to launch the extension. We'll take care of the rest!</div>
                        </div>
                    </div>
                </div>





                <!--SECTION 5 Chrome Features Vertical Scroll-->
                <div class="sect5">
                     <section id="learn">
                        <div class="title-learn">
                            <div>
                                <span>Cheztrap<br>provides...</span>
                            </div>
                        </div>
                        <div class="info">
                            <div class="infobox">
                                <img src=/static/images/cheese1.png/>
                                <p>A brief summary about the safety or risk of a given website or email</p>
                            </div>
                            <div class="infobox">
                                <img src=/static/images/cheese2.png/>
                                <p>The category of the website such as shopping, gaming, social media, etc</p>
                            </div>
                            <div class="infobox ">
                                <img src=/static/images/cheese4.png/>
                                <p>When the company was founded, who started it, and where it's based</p>
                            </div>
                            <div class="infobox">
                                <img src=/static/images/cheese5.png/>
                                <p>The traffic level of a website showing how many users visit the site each month</p>
                            </div>
                            <div class="infobox">
                                <img src=/static/images/cheese3.png/>
                                <p>How much money the company raised</p>
                            </div>
                            <div class="infobox">
                                <img src=/static/images/cheese3.png/>
                                <p>A fun fact about the website</p>
                            </div>
                            <div class="infobox">
                                <img src=/static/images/cheese2.png/>
                                <p>The registrar, registrant, and domain creation date after detecting a scam site</p>
                            </div>
                        </div>
                    </section>
                </div>



    


                <!--SECTION 6 faq-->
                <div class="sect6" id="faq">
                    <div class="sect6_box">
                        <div class="sect6_header">Frequently Asked Questions</div>
                        <section class="faq">
                            <div class="feature">
                                <input type="checkbox" id="cb1">
                                <label for="cb1" class="faq_ques">What is Cheztrap?</label>
                                <div class="faq_ans">
                                    <p>Cheztrap is a Chrome extension that detects whether or not a website or email is safe. 
                                        <br><br>
                                        Why should you browse the internet in fear when it's such a major part of our lives? You shouldn't have to worry. 
                                        <br><br>
                                        That's where Cheztrap comes in. This app protects you from entering personal information on malicious websites or falling for phishing emails. By letting you know if it's safe or not, Cheztrap helps you avoid impersonation emails and fake sites, helping you skip the “Is this safe?” question.</p>
                                </div>
                            </div>
                            <div class="feature">
                                <input type="checkbox" id="cb2">
                                <label for="cb2" class="faq_ques">Why should I choose Cheztrap over other security apps?</label>
                                <div class="faq_ans">
                                    <p>
                                        Cheztrap offers many unique features that other security apps don't! 
                                        <br><br>
                                        It uses AI to analyze websites and emails, which means you get faster and more accurate results. Plus, Cheztrap gives you detailed information about each website, such as a summary, how much money the company has raised, who its founders are, where it's located, and the site's traffic level. 
                                        <br><br>
                                        This extra information helps you make smarter decisions regarding the safety of a site. For example, a low traffic level might mean the site is new or less trustworthy. 
                                        <br><br>
                                        With all this information, Cheztrap not only protects you from unsafe sites and emails, but also explains the “why,” educating you on internet safety.
                                    </p>
                                </div>
                            </div>
                             <div class="feature">
                                <input type="checkbox" id="cb3">
                                <label for="cb3" class="faq_ques">How does Cheztrap detect scam websites?</label>
                                <div class="faq_ans">
                                    <p>Cheztrap uses a combination of AI and trusted databases to detect scam websites and phishing emails. It looks at factors such as how popular the site is, how long it's been around, and whether it shows signs common to scams. Based on this, Cheztrap determines if a site or email is malicious, helping you stay clear from these potential risks and stay safe online.</p>
                                </div>
                            </div>
                             <div class="feature">
                                <input type="checkbox" id="cb4">
                                <label for="cb4" class="faq_ques">Is Cheztrap safe? Does it collect any personal data?</label>
                                <div class="faq_ans">
                                    <p>Yes, Cheztrap is extremely safe to use and does not collect personal data in any way. We never track, store, or share any information about your browsing activity. Cheztrap simply analyzes websites and emails in real time without ever accessing your personal information. Your safety matters to us, and your privacy is always protected.</p>
                                </div>
                            </div>
                             <div class="feature">
                                <input type="checkbox" id="cb5">
                                <label for="cb5" class="faq_ques">Is Cheztrap really free?</label>
                                <div class="faq_ans">
                                    <p>Simple answer: Yes! Cheztrap is completely free to download and use. There are no hidden fees to worry about, so you can explore the web with confidence!</p>
                                </div>
                            </div>
                            <div class="feature">
                                <input type="checkbox" id="cb6">
                                <label for="cb6" class="faq_ques">How can I download Cheztrap?</label>
                                <div class="faq_ans">
                                    <p>Luckily, downloading Cheztrap is super easy! Just search for “Cheztrap” in the Chrome Web Store 
                                        <a href="https://chromewebstore.google.com/detail/cheztrap/nekhbkmakcoobbhgckdjakflhcdhpjjk" target="_blank"><span class="faq_download_ans">(or click here)</span></a> 
                                        and hit “Add to Chrome.” <br><br> 
                                        Once it's installed, go to your browser toolbar and click the yellow cheese logo! That's it, you've successfuly used Cheztrap for the first time!
                                    </p>
                                </div>
                            </div>
                            <div class="feature">
                                <input type="checkbox" id="cb7">
                                <label for="cb7" class="faq_ques">Why is Cheztrap named Cheztrap?</label>
                                <div class="faq_ans">
                                    <p>Cheztrap gets its name from a play on the words “cheese trap” and “mouse trap.” 
                                    <br><br>
                                    But why a mousetrap? Before creating Cheztrap, I (Jiena) was fascinated by various scamming methods. One that caught my attention was the RAT (a Remote Access Trojan), which are malicious files disguised to seem harmless. Many Minecraft players lost their accounts to this kind of hack, so it sparked my interest in online security. 
                                    <br><br>
                                    Even though Cheztrap mainly focuses on phishing threats, the name reflects the idea of “trapping” dangerous rats (cyber criminals), symbolizing how the app helps catch and identify phishing sites and emails. That’s why I chose to keep the name.
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>




                

                <!--SECTION 7 download-->
                <div class="sect7">
                    <div class="sect7_content">
                        <div class="sect7_header">Protect your cheese<br>from cyber rats!<br>Download now.</div>
                        <div class="sect7_btn"><a href="https://chromewebstore.google.com/detail/cheztrap/nekhbkmakcoobbhgckdjakflhcdhpjjk" target="_blank"><button class="dwnld_btn2"><span class="btn_word">ADD TO CHROME. IT'S FREE!</span></button></a></div>
                    </div>
                </div>
                








                <!--SECTION 8 footer-->
                <div class="footer">
                    <div class="footer_content_left">
                        <div class="footer_logo">Cheztrap</div>
                            
                        <div class="footer_contact">
                            <div class="footer_contact_stuff">
                                <div class="footer_email">Email: december0two@gmail.com</div>
                                <img src="/static/images/footer_rat1.svg">
                                <img src="/static/images/footer_rat2.svg">
                                <img src="/static/images/footer_rat3.svg">
                            </div>
                        </div>
                    </div>
                    <div class="footer_content_right">
                        <div class="footer_content_right_col1">
                            <li><a href="https://chromewebstore.google.com/detail/cheztrap/nekhbkmakcoobbhgckdjakflhcdhpjjk" target="_blank" class="footer_link">DOWNLOAD</a></li>
                            <li><a href="/about" class="footer_link">ABOUT</a></li>
                            <li><a href="/contact" class="footer_link">CONTACT</a></li>
                        </div>
                        <div class="footer_content_right_col2">
                            <li><a href="/terms" class="footer_link">TERMS</a></li>
                            <li><a href="/privacy" class="footer_link">PRIVACY</a></li>
                        </div>
                    </div>
                </div>
            </div>

        </div>






        <!--POPUP-->
        <div id="try_popup" class="popup">
            <div class="popup_container">
                <a class="close" id="try_close_btn" href="#">&times;</a>
                <div class="link_header">Test Cheztrap's Website Detection</div>
                <form id="form">
                    <div class="input-wrapper">
                        <input type="text" id="url" name="url" class="url_input" placeholder="Enter or paste link here..." required>

                        <button id="try_submit_btn" type="submit" class="submit_button">
                            <img src="/static/images/popup_search.png" style="width:30px;height:auto;border-radius:50%;"/>
                        </button>

                        <div id="reason" class="error_message"></div>
                    </div>
                </form>

                <!--loading... loading... loading...-->
                <div class="load_img"><img src="/static/images/loading.gif"></div>

                <div id="is_safe"></div>

                <!--after button is successfuly hit, these will show up-->
                <div id="popup_result"></div>
            </div>
        </div>


        <!--JAVASCRIPT FOR TRY IT POPUP-->
        <script>
        $(document).ready(function(){

            $('#try_btn').click(function(){
                $('#try_popup').show();
                $('.container').css('opacity', 0.3);
            })

            $('#try_close_btn').click(function(e){
                e.preventDefault();
                $('#try_popup').hide();
                $('.container').css('opacity', 1);
                
                // Reset the input field upon closing
                $('#url').val('');

                // Clear the results upon closing
                $('#is_safe').empty();
                $('#reason').text('');
                $('#location').text('');
            })

            $('#try_submit_btn').click(function(e){
                e.preventDefault();
                const url = $('#url').val();

                // checks if url is valid 
                const urlPattern = /^(https?:\/\/)?([\w-]+\.)+[\w-]+(\/[\w-]*)*\/?$/;
                if (!urlPattern.test(url)) {
                    $('#reason').addClass('error_message').text("Please enter a valid URL.");

                    setTimeout(function () {
                        $('#reason').fadeOut(300, function () {
                            $(this).text('').removeClass('error_message').show(); // Reset and show for next time
                        });
                    }, 2000);

                    return;
                }

                $('#is_safe').empty();
                $('#popup_result').empty();

                // Show loading image after entering valid url 
                $('.load_img').show();

                // change to cheztrap.com
                $.post('https://cheztrap.com/api/check/website', { url: url}, function(res){
                    console.log('result', res);

                    if (res.is_safe === true) {
                        $("#is_safe").html(
                            "<div class='result_container'>" +
                                "<div class='header_img'>" +
                                    "<div class='result_img'>" +
                                        "<img src='/static/images/insurance.png' style='width: 3.3rem;'>" +
                                        "<div class='result_header'>Website is Safe!</div>" + 
                                    "</div>" + 
                                    "<div class='result_reason'>" + res.reason + "</div>" +
                                "</div>" +

                                //table
                                "<div class='result_more'>" +
                                    "<div class='table_title'>Learn More About This Site</div>" +
                                    "<table id='customers'>" +
                                    "<tr>" +
                                        "<td>Website Type</td>" + 
                                        "<td>" + res.website_type + "</td>" +
                                    "</tr>" +
                                    "<tr>" +
                                        "<td>Founders</td>" +
                                        "<td>" + res.founders.join(', ') + "</td>" +
                                    "</tr>" +
                                    "<tr>" +
                                        "<td>HQ</td>" +
                                        "<td>" + res.hq + "</td>" +
                                    "</tr>" +
                                    "<tr>" +
                                        "<td>Fun Fact</td>" +
                                        "<td>" + res.fun_fact + "</td>" +
                                    "</tr>" +
                                    "</table>" +
                                "</div>" +
                            "</div>" +
                            "<div class='popup_more_features'>*Download Cheztrap for more features!*</div>" 
                            

                        );
                    } else {
                        $("#is_safe").html(
                            "<div class='result_container'>" +
                                "<div class='header_img'>" +
                                    "<div class='result_img'>" +
                                        "<img src='/static/images/warning.png' style='width: 3.3rem;'>" +
                                        "<div class='result_header'>WEBSITE IS UNSAFE!</div>" + 
                                    "</div>" + 
                                    "<div class='result_reason'>" + res.reason + "</div>" +
                                "</div>" +

                                //table
                                "<div class='result_more'>" +
                                    "<div class='table_title'>Learn More About This Site</div>" +
                                    "<table id='customers'>" +
                                    "<tr>" +
                                        "<td>Website Type</td>" + 
                                        "<td>" + res.website_type + "</td>" +
                                    "</tr>" +
                                    "<tr>" +
                                        "<td>Founders</td>" +
                                        "<td>" + res.founders.join(', ') + "</td>" +
                                    "</tr>" +
                                    "<tr>" +
                                        "<td>HQ</td>" +
                                        "<td>" + res.hq + "</td>" +
                                    "</tr>" +
                                    "<tr>" +
                                        "<td>Fun Fact</td>" +
                                        "<td>" + res.fun_fact + "</td>" +
                                    "</tr>" +
                                    "</table>" +
                                "</div>" +
                            "</div>"
                        );
                    }

                    // Hide loading image after contents appear
                    $('.load_img').hide();
                })
            })
        })    
        </script>
    </body>
</html>