<!DOCTYPE html>
<html>
    <head>
        <title>cheztrap</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='privacy.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700;800&display=swap" rel="stylesheet">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="/static/images/favicon/site.webmanifest">
    </head>

    <body>
        
        <!--MENU HEADER-->
        <div class="menu_logo">
            <a href="/">
                <img src="/static/images/logo.svg">
                <span class="logo">Cheztrap</span>
            </a>
        </div>

        <div class="menu">
            <div class="menu_left">
                <span class="menu_abt"><a href="/about">About</a></span>
                <span class="menu_faq"><a href="{{ url_for('home') }}#faq">FAQ</a></span>
            </div>
            <div class="menu_right">
                <span class="menu_contact"><a href="/contact">Contact</a></span>
                <span class="menu_get"><a href="https://chromewebstore.google.com/detail/cheztrap/nekhbkmakcoobbhgckdjakflhcdhpjjk" target="_blank">Get Now!</a></span>
            </div>
        </div>
        



        <!--PRIVACY CONTENT STARTS HERE-->
        <div class="container">
            <h1 class="privacy_header">Cheztrap Privacy Policy</h1>

            <div class="privacy_div_content">
                <p class="privacy_text2">
                    This Privacy Policy explains how we collect, use, and share your personal information when you visit Cheztrap.com or use the Cheztrap Google Chrome Extension.
                </p>
                <p class="privacy_title">1. Information We Collect</p>
                <p class="privacy_text2">
                    Cheztrap does not collect, store, or share any personal information from users. 
                    We do not gather data about your browsing activity, personal identifiers, or any other private information.
                </p>
                <p class="privacy_title">2. How We Use Your Data</p>
                <p class="privacy_text2">
                    Since we do not collect personal data, we do not use or process personal information in any way. 
                    The extension operates locally and performs its functions without sending any data to external servers.
                </p>
                <p class="privacy_title">3. Data Sharing</p>
                <p class="privacy_text2">
                    Cheztrap does not share any user data with third parties. 
                    There are no external parties with whom user data is shared as we do not collect or handle personal information.
                </p>
                <p class="privacy_title">4. Permissions Used</p>
                <p class="privacy_text2">
                    Cheztrap requires certain permissions to function properly:
                    <li class="privacy_text2">`activeTab`: It is used to give cheztrap a temporary access to the current tab (URL) the user is currently viewing. This gives the chrome extension permission to check its safety.</li>
                    <li class="privacy_text2">`scripting`: It gives cheztrap permission to inject and manage JavaScript and CSS into chrome. It also analyzes gmail contents which allows the extension to determine its safety.</li>
                </p>
                <p class="privacy_title">5. Data Security</p>
                <p class="privacy_text2">
                    Since Cheztrap does not handle personal data, there is no data to secure or store. 
                    However, we adhere to industry-standard practices to ensure that any information processed is handled securely.
                </p>
                <p class="privacy_title">6. Third-Party Services</p>
                <p class="privacy_text2">
                    Cheztrap does not integrate with or use third-party services that collect personal data. 
                    Our extension functions independently and does not transmit user data to external entities.
                </p>
                <p class="privacy_title">7. Changes to This Privacy Policy</p>
                <p class="privacy_text2">
                    We may update this privacy policy occasionally to reflect changes in our practices or for other operational, legal, or regulatory reasons. 
                    Any updates will be posted on this page with the revised effective date.
                </p>
                <p class="privacy_title">8. Contact Us</p>
                <p class="privacy_text2">
                    If you have any questions or concerns about this privacy policy or the operation of our extension, please contact us by email at december0two@gmail.com.
                </p>
                <p class="privacy_text1">
                    EFFECTIVE DATE: August 25, 2024<br>
                    LAST UPDATED: June 25, 2025
                </p>
            </div>
        </div>






        <!--SECTION 8 footer-->
        <div class="footer">
            <div class="footer_content_left">
                <div class="footer_logo">Cheztrap</div>
                            
                <div class="footer_contact">
                    <div class="footer_contact_stuff">
                        <div class="footer_email">Email: december0two@gmail.com</div>
                        <img src="/static/images/footer_rat1.svg">
                        <img src="/static/images/footer_rat2.svg">
                        <img src="/static/images/footer_rat3.svg">
                    </div>
                </div>
            </div>
            <div class="footer_content_right">
                <div class="footer_content_right_col1">
                    <li><a href="https://chromewebstore.google.com/detail/cheztrap/nekhbkmakcoobbhgckdjakflhcdhpjjk" target="_blank" class="footer_link">DOWNLOAD</a></li>
                    <li><a href="/about" class="footer_link">ABOUT</a></li>
                    <li><a href="/contact" class="footer_link">CONTACT</a></li>
                </div>
                <div class="footer_content_right_col2">
                    <li><a href="/terms" class="footer_link">TERMS</a></li>
                    <li><a href="/privacy" class="footer_link">PRIVACY</a></li>
                </div>
            </div>
        </div>
    </body>

</html>